bigbird/comparison.png
bigbird/CONTRIBUTING.md

*.ipynb
*.egg-info
**/__pycache__/
data-*

.vscode
*.pyc
*.sh
*.out
*.png
*.csv
*.txt
*test*

data/

xaa
xab
out.delta

/logs/fit/*